<a
  class="digital-back-to-filters"
  href="#digital-catalog-filters"
  data-digital-back-to-filters
  hidden
  aria-label="Вернуться к фильтрам"
>
  <svg
    class="digital-back-to-filters__icon"
    width="18"
    height="18"
    viewBox="0 0 20 20"
    aria-hidden="true"
    focusable="false"
  >
    <path
      d="M5.5 12.5L10 8L14.5 12.5"
      fill="none"
      stroke="currentColor"
      stroke-width="1.8"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <span class="digital-back-to-filters__label digital-back-to-filters__label--desktop">К фильтрам ↑</span>
  <span class="digital-back-to-filters__label digital-back-to-filters__label--compact">Фильтры ↑</span>
</a>

<script>
  import { initDigitalBackToFilters } from "../../lib/digital/catalogBackToFiltersClient";

  initDigitalBackToFilters();
</script>
