<a
  class="digital-back-to-filters"
  href="#digital-catalog-filters"
  data-digital-back-to-filters
  hidden
  aria-label="Вернуться к поиску и фильтрам"
>
  <span class="digital-back-to-filters__label digital-back-to-filters__label--desktop">К фильтрам ↑</span>
  <span class="digital-back-to-filters__label digital-back-to-filters__label--compact">Фильтры ↑</span>
  <span class="digital-back-to-filters__label digital-back-to-filters__label--mobile">Фильтры ↑</span>
</a>

<script>
  import { initDigitalBackToFilters } from "../../lib/digital/catalogBackToFiltersClient";

  initDigitalBackToFilters();
</script>
