---
import DigitalHero from "./DigitalHero.astro";
import type { DigitalPageStats } from "../../lib/digital/stats";

interface Props {
  h1: string;
  leadIntro: string;
  leadMore: string;
  stats: DigitalPageStats;
}

const { h1, leadIntro, leadMore, stats } = Astro.props;
---

<section class="digital-first-screen" aria-label="Первый экран">
  <DigitalHero h1={h1} leadIntro={leadIntro} leadMore={leadMore} stats={stats} />
</section>
